*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Cor de fundo do footer */
    color: white; /* Cor do texto do footer */
    text-align: center; /* Alinhamento do texto */
}